JAVA_OPTS=-Xms512m -Xmx1024m -Djava.security.egd=file:/dev/./urandom
ARGS=--spring.profiles.active=prod --spring.config.additional-location=file:/opt/camera-rental/shared/application-prod.yaml
WX_MP_APP_ID=disabled
WX_MP_SECRET=disabled
WX_MINIAPP_APP_ID=disabled
WX_MINIAPP_SECRET=disabled
