VITE_BASE_PATH=/admin/schedule-center/
VITE_BASE_URL=http://127.0.0.1:48080
VITE_API_URL=/admin-api
VITE_ADMIN_LOGIN_PATH=/admin/login
VITE_APP_TENANT_ENABLE=true
VITE_APP_DEFAULT_LOGIN_TENANT=芋道源码
VITE_APP_DEFAULT_LOGIN_USERNAME=
VITE_APP_DEFAULT_LOGIN_PASSWORD=
